[submodule "CPUmodels"]
       path = lib/CPUmodels
       url = https://github.com/konne88/CPUmodels.git
[submodule "libs/stoke"]
       path = lib/stoke
       url = https://github.com/konne88/stoke.git
